body{
    background-color: maroon;
}

.btn {
    background-color: maroon;
}

label {
    color : white;
    padding: 6px;
}

.studentsName{
    width: 30%;
}

h3{
    color: maroon;

}

h2{
    color: yellow;
}

.card{
    text-align: center;
}